.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.grid{
    display: grid;
}

.mt-2{
    margin-top: 16px ;
}

.mt-4 {
    margin-top: 20px; 
}

.mt-16 {
    margin-top: 60px;
}

.relative {
    position: relative;
}

.rounded-full {
    border-radius: 30%;
}

.text-sm{
    font-size: 20px;
    line-height: 20px; 
}

/* medium screen */
@media (min-width: 768px) { 
    .md\:grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* large screen */
@media (min-width: 1024px) {
    .lg\:grid-cols-3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}